@import "normalize";

//Variables
$anchoCasilla: 35px;
$altoCasilla: 35px;

/* ==========================================================================
   Mis estilos
   ========================================================================== */

body{
	font-family: sans-serif;
}

.container{
	width: 600px;
	margin: 60px auto;
	/*background-color: grey;*/
	overflow: hidden;
	/*border: solid 1px black;
	border-radius: 5px;
	padding: 15px;*/
}

.panelIz{
	float: left;
}

.datos, 
.turno{
	width: 140px;
	border: 2px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.datos {
	padding: 7px;
	> label {
		display: inline-block;
		width: 95px;
	}
	> button {
		display: block;
		margin: 10px auto 0 auto;
	}
}

.tablero {
	float: left;
	width: 400px;
	//height: 400px;
}

/*.tablero:hover{
    -webkit-transform: rotate(10deg);
}*/
.tablero, 
.turno {
	text-align: center;
}

.turno {
	margin: 10px auto;
	padding: 0 5px;
	display: none;
}

.jugador1, .jugador2{
	font-weight: bold;
	font-size: 1.1em;
}
.jugador1{
	background-color: red;
	color: white;
}
.jugador2{
	background-color: yellow;
	color: black;
}

.fila{
	height: $altoCasilla;
}

.bloque,.bolaRoja,.bolaAmarilla,.flechaDer,.flechaIz{
	height: $altoCasilla;
	width: $anchoCasilla;
	display: inline-block;
	background: url("../img/sprite.png") no-repeat;
}
.bloque{
	/*background-image: url("../img/bloque.png");*/
	background-position: 0 0;
}

.hueco{
	height: $altoCasilla;
	width: $anchoCasilla;
	display: inline-block;
	background-color: black;
}

.bolaRoja{
	/*background-image: url("../img/bola_r.png");*/
	background-position: 0 -170px;
	/*background-color: red;
	border-radius: 20px;*/
}

.bolaAmarilla{
	/*background-image: url("../img/bola_a.png");*/
	background-position: 0 -85px;
}

.flechaDer,.flechaIz{
	/*background-repeat: no-repeat;*/
	cursor: pointer;
}

.flechaDer{
	/*background-image: url("../img/flecha_der.png");*/
	background-position: 0 -255px;
	&:hover { background-position: 0 -335px;}
}

.flechaIz{
	/*background-image: url("../img/flecha_iz.png");*/
	background-position: 0 -415px;
	&:hover { background-position: 0 -495px;}
}

.alert{
    font-size: 0.9em;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* Header */
.header {

    clear:both;
    text-align: center;

	h1 {
		font-size: 30px;
	}

	.char1 {
		color: #2ecc71;
	}

	.char2 {
		color: #e74c3c;
	}

	.char3 {
		color: #9b59b6;
	}

	.char4 {
		color: #2c3e50;
	}

	.char5 {
		color: #1abc9c;
	}

	.char6 {
		color: #f39c12;
	}

	.char7 {
		color: #7f8c8d;
	}

	.char8 {
		color: #c0392b;
	}

	.char9 {
		color: #f1c40f;
	}

	.char10 {
		color: #27ae60;
	}

	.char11 {
		color: #d35400;
	}
}

@media screen and (max-width: 600px){
    .container,
    .datos, 
    .turno,
    .tablero{
        width: 100%;
    }
    
    .turno,
    .datos{
        padding: 0;
    }
    
    .container{
        margin: 0;
        padding: 0;
    }
    
    .header{
        display: none;
    }
}